.card {
    width: 16rem;
    position: relative;
    top:100px;
    margin-bottom:30px;
}
.cardBody{
    background-color: #265004;
}

.cardTitle {
    color: #ffffff !important;
}

.cardText {
    color: #ffffff;
}

.cardTextSmall {
    color: #ffffff;
    font-size: 12px;
    font-style: italic;
}
.codeButton {
    position: relative;
    left:10px;
}

.demoButton {
    position: relative;
    left: 50px;
}

